img {
    width: 227px;
    height: 224px;
    top: 16px;
    left: 16px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}

button {
    background: #FFFFFF;
    border: 1px solid #9DC2FF;
    width: 88px;
    height: 32px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.p-t {
    width: 227px;
    height: 74px;
    top: 252px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0275em;
    text-align: left;
}

.p-t_n {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.p-t_p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    letter-spacing: 0.018em;
    text-align: left;
}