<h1><strong>Bienvenido a <span>Shopéame</span></strong></h1>

<section class="tabs">
    <div>
        <h3>¿Qué es <span>Shopéame</span>?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus corporis, sequi voluptatibus
            sapiente harum praesentium voluptatum porro consectetur vero sit. A exercitationem quo rerum necessitatibus
            aspernatur nesciunt magni hic!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloremque laboriosam. Impedit maxime non, esse
            eligendi, aperiam maiores id quas odit quidem illo totam nostrum accusamus ex animi possimus ullam?</p>
    
    </div>

    <div>
        <h3>¿Para qué puedo usar <span>Shopéame</span>? </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus corporis, sequi voluptatibus
            sapiente harum praesentium voluptatum porro consectetur vero sit. A exercitationem quo rerum necessitatibus
            aspernatur nesciunt magni hic!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloremque laboriosam. Impedit maxime non, esse
            eligendi, aperiam maiores id quas odit quidem illo totam nostrum accusamus ex animi possimus ullam?</p>
    </div>

    <div>
        <h3>¿Quiénes son <span>Shopéame</span>?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus corporis, sequi voluptatibus
            sapiente harum praesentium voluptatum porro consectetur vero sit. A exercitationem quo rerum necessitatibus
            aspernatur nesciunt magni hic!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloremque laboriosam. Impedit maxime non, esse
            eligendi, aperiam maiores id quas odit quidem illo totam nostrum accusamus ex animi possimus ullam?</p>
    </div>
    <div>
        <h3>¿Quiénes son <span>Shopéame</span>?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus corporis, sequi voluptatibus sapiente harum praesentium voluptatum porro consectetur vero sit. A exercitationem quo rerum necessitatibus aspernatur nesciunt magni hic!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, doloremque laboriosam. Impedit maxime non, esse eligendi, aperiam maiores id quas odit quidem illo totam nostrum accusamus ex animi possimus ullam?</p>
     </div>
</section>