<section class="footer">
<p class="P">Siguenos en:</p>
<nav>
    <ul>
        <li><a href="https://twitter.com"><strong>Twitter </strong></a></li>
        <li>|</li>
        <li><a href="https://facebook.com"><strong>Facebook</strong></a></li>
        <li>|</li>
        <li><a href="https://instagram.com"><strong>Instagram</strong></a></li>
        <li>|</li>
        <li><a href="https://tiktok.com"><strong>Tiktok</strong></a></li>
    </ul>
</nav>
<p>Copyright Shopéame © {{ currentYear }}</p>
</section>